* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #8b0000;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background: rgba(0,0,0,0.6);
    padding: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.btn {
    background: gold;
    padding: 10px 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
